.mat-toolbar{
    box-shadow: 5px 10px #ffff;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid black;
  }
  .length-details-colums-adjustment-left {
      margin-right: 15px;
    }
    .length-details-colums-adjustment-right {
      margin-top: 15px;
      min-height: 60vh!important;
    }
    .form-length
    {
        margin:2rem;
    }
    .graph-card
    {
      border:1px solid black;
    }
    .mat-card-md-image {
      width: 112px;
      height: 112px;
      margin-left:auto;
      display: block;
      margin-right:auto;
      margin-top:2rem;
    }
    .error
    {
      color:red;
    }
    .error:before
    {
      color:black;
    }
    .inner-container
    {
        border:1px solid black;
        margin-top:3rem;
        margin-left:0.5rem;
        margin-right:0.5rem;
        border-radius: 3px;
        text-align: center;
    }
    .add-form
    {
      margin-top:1rem;
      text-align: center;
     
    }
    .newUnit
    {
      margin-top:1.5rem;
      
    }
    .mat-radio-button {
      display: inline-block;
      -webkit-tap-highlight-color: transparent;
      outline: 0;
      margin:1rem;
      // color:#0098DB;
    }
    @media (max-width: 768px) {
      .length-details-colums-adjustment-right {
        margin-top: 15px;
        min-height: 60vh!important;
      }
      .mat-card-md-image {
        width: 112px;
        height: 112px;
        margin-left:auto;
        display: block;
        margin-right:auto;
        margin-top:2rem;
      }
    }
  
    @media (max-width: 1024px) {
      .length-details-colums-adjustment-right {
        margin-top: 15px;
        min-height: 60vh!important;
      }
      .mat-card-md-image {
        width: 112px;
        height: 112px;
        margin-left:auto;
        display: block;
        margin-right:auto;
        margin-top:2rem;
       }
    }