
.adjusting-flex
{
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  background-color: #ffff;
  overflow: hidden;
  position: relative;
}

.mat-toolbar{
  box-shadow: 5px 10px #ffff;
  border-bottom: 1px solid black;
}
.currency-details-colums-adjustment-left {
    margin-right: 15px;
    flex:1 1 auto;
  }
  
  .form-currency
  {
      margin:2rem;
  }
  .graph-card
  {
    border:1px solid black;
  }
//  .p-header
//  {
//    background-color:rgb(16, 197, 43);
//    color:#ffff;
//    margin:0;
//  }
  .inner-container
  {
     // border:1px solid rgb(6, 138, 25);
      border:1px solid black;
      margin-top:3rem;
      border-radius: 3px;
      text-align: center;
  }

  //date picker css
  .date-button
  {
    width:8rem;
    font-size:medium;
    background-color: #f7f7f7;
    border:1px solid #0098db;
    text-align: center;
    border-radius:5px 5px;
    left:0;
    display: inline;
  }
  .date-icon
  {
    color:#0098db;
    
  }
  //loader starts
.center-aligned {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinnerClass{
  opacity: 1;
  background:rgba(0,0,0,.288);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  
}
//loader ends

  @media (max-width: 768px) {
    .currency-details-colums-adjustment-right {
      margin-top: 15px;
      flex:1 1 auto;
    }
  }

  @media (max-width: 1024px) {
    .currency-details-colums-adjustment-right {
      margin-top: 15px;
      flex:1 1 auto;
    }
  }